In [1]:
import pandas as pd
import numpy as np

import csv
import news_rec as nr

c:\Users\12693\Documents\JHU\AI-Enabling Systems\research\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def load_tsv(file, cols):
    '''
    Given a path and list of columns,
    loads a tsv file into a pandas data frame
    '''
    df = pd.read_table(file,sep="\t", header=None, names=cols)

    return df

In [3]:
def get_data(file):
    df = pd.read_csv(file)
    
    return df

In [4]:
behav_cols = ["impression_id", "user_id","time","history","impressions"]
news_cols = ["news_id","category","sub_category","title","abstract","url","title_entities","abstract_entitites"]
news_df = load_tsv("./data/news.tsv", news_cols)
b_df = load_tsv("./data/behaviors.tsv", behav_cols)

In [8]:
hist, can = nr.all_preprocessing()

(509586, 6) (827783, 7)

In [9]:
nn_result = get_data("./results/final/nn_cosine3_final.csv")
#nn_result = nn_result.rename(columns={"prediction":"nn_pred"}) 
nn_result.head(5)

,user_id,preds,pred_1,pred_2,pred_3,pred_4,pred_5
0,U27158,"['N64174', 'N23877', 'N48017', 'N9623', 'N50872']",N64174,N23877,N48017,N9623,N50872
1,U60170,"['N38779', 'N23446', 'N45523', 'N25165', 'N457...",N38779,N23446,N45523,N25165,N45734
2,U40758,"['N23446', 'N40109', 'N38779', 'N62318', 'N341...",N23446,N40109,N38779,N62318,N34185
3,U60555,"['N23446', 'N23877', 'N38779', 'N6477', 'N45523']",N23446,N23877,N38779,N6477,N45523
4,U57993,"['N23446', 'N57733', 'N47652', 'N38779', 'N455...",N23446,N57733,N47652,N38779,N45523

In [10]:
sts_result = get_data("./results/final/sts_cosine3_final.csv")
#nn_result = nn_result.rename(columns={"prediction":"nn_pred"}) 
sts_result.head(5)

,user_id,preds,pred_1,pred_2,pred_3,pred_4,pred_5
0,U57255,"['N64037', 'N46917', 'N60750', 'N22975', 'N500...",N64037,N46917,N60750,N22975,N50055
1,U66830,"['N62318', 'N19661', 'N40109', 'N50872', 'N341...",N62318,N19661,N40109,N50872,N34185
2,U25497,"['N41934', 'N61233', 'N56211', 'N14478', 'N277...",N41934,N61233,N56211,N14478,N27737
3,U27158,"['N50872', 'N9623', 'N48017', 'N8015', 'N64174']",N50872,N9623,N48017,N8015,N64174
4,U89637,"['N23446', 'N50872', 'N6477', 'N29212', 'N38779']",N23446,N50872,N6477,N29212,N38779

In [11]:
nli_result = get_data("./results/final/nli_cosine3_final.csv")
#nn_result = nn_result.rename(columns={"prediction":"nn_pred"}) 
nli_result.head(5)

,user_id,preds,pred_1,pred_2,pred_3,pred_4,pred_5
0,U57255,"['N46917', 'N64037', 'N60750', 'N50055', 'N229...",N46917,N64037,N60750,N50055,N22975
1,U66830,"['N62318', 'N1539', 'N40109', 'N50872', 'N38779']",N62318,N1539,N40109,N50872,N38779
2,U25497,"['N56211', 'N14478', 'N41934', 'N61233', 'N528...",N56211,N14478,N41934,N61233,N52867
3,U27158,"['N64174', 'N8015', 'N9623', 'N23877', 'N48017']",N64174,N8015,N9623,N23877,N48017
4,U89637,"['N23446', 'N50872', 'N23877', 'N6477', 'N38779']",N23446,N50872,N23877,N6477,N38779

In [12]:
nn_result_news = get_data("./results/final/nn_cosine3_final_news.csv")
#nn_result = nn_result.rename(columns={"prediction":"nn_pred"}) 
nn_result.head(5)

,user_id,preds,pred_1,pred_2,pred_3,pred_4,pred_5
0,U27158,"['N64174', 'N23877', 'N48017', 'N9623', 'N50872']",N64174,N23877,N48017,N9623,N50872
1,U60170,"['N38779', 'N23446', 'N45523', 'N25165', 'N457...",N38779,N23446,N45523,N25165,N45734
2,U40758,"['N23446', 'N40109', 'N38779', 'N62318', 'N341...",N23446,N40109,N38779,N62318,N34185
3,U60555,"['N23446', 'N23877', 'N38779', 'N6477', 'N45523']",N23446,N23877,N38779,N6477,N45523
4,U57993,"['N23446', 'N57733', 'N47652', 'N38779', 'N455...",N23446,N57733,N47652,N38779,N45523

In [13]:
sts_result_news = get_data("./results/final/sts_cosine3_final_news.csv")
#nn_result = nn_result.rename(columns={"prediction":"nn_pred"}) 
sts_result.head(5)

,user_id,preds,pred_1,pred_2,pred_3,pred_4,pred_5
0,U57255,"['N64037', 'N46917', 'N60750', 'N22975', 'N500...",N64037,N46917,N60750,N22975,N50055
1,U66830,"['N62318', 'N19661', 'N40109', 'N50872', 'N341...",N62318,N19661,N40109,N50872,N34185
2,U25497,"['N41934', 'N61233', 'N56211', 'N14478', 'N277...",N41934,N61233,N56211,N14478,N27737
3,U27158,"['N50872', 'N9623', 'N48017', 'N8015', 'N64174']",N50872,N9623,N48017,N8015,N64174
4,U89637,"['N23446', 'N50872', 'N6477', 'N29212', 'N38779']",N23446,N50872,N6477,N29212,N38779

## Metric Meausures

In [14]:
def get_acc(candidate, preds):
    '''
    Returns the accuracy using the top recommendation per user 
    '''
    

    results_df = candidate.merge(preds, left_on =["user_id","news_id"], right_on =["user_id","pred_1"] )

    correct_preds = results_df.loc[results_df["label"]=='1'].shape[0]
    accuracy = correct_preds/results_df.shape[0]

    return accuracy

In [15]:
nn_acc = get_acc(can, nn_result)
nn_acc # previously was .059

0.25

In [16]:
sts_acc = get_acc(can, sts_result)
sts_acc # previously was .059

0.23725834797891038

In [17]:
nli_acc = get_acc(can, nli_result)
nli_acc # previously was .059

0.22300884955752212

In [18]:
nn_acc_news = get_acc(can, nn_result_news)
nn_acc_news

0.14

In [19]:
sts_acc_news = get_acc(can, sts_result_news)
sts_acc_news # previously was .059

0.1875

In [20]:
def convert_recs_to_list(preds, candidate, cols):
    '''
    Convers the result dictionary into a list 
    '''
    new_col_names = []
    all_df = []
    for c in cols:
        new_col = c + "_relevant_ind"
        new_col_names.append(new_col)
        results_df = candidate.merge(preds, left_on =["user_id","news_id"], right_on =["user_id",c] )

        results_df = results_df.rename(columns={"label":new_col})
        results_df[new_col] = results_df[new_col].astype('int64')
        results_df = results_df[['user_id',new_col]]
        #print(results_df.head())
        all_df.append(results_df)
    # combine all dfs into one large df
    df = all_df[0]
    for d in all_df[1:]:
        df = df.merge(d, on='user_id')

    df["combined"] = df[new_col_names].values.tolist()
    return df

In [21]:
def precision_at_k(df, k):
    '''
    Get the precision at K
    '''
    col = "P@"+str(k)

    df[col] = df["combined"].str[:k].map(sum)
    df[col] = df[col]/k
    return df,col

In [34]:
def apk(df, k):
    # returns AP@K
    cols = []
    for i in range(1, k+1):
        df,col = precision_at_k(df, i)
        cols.append(col)
    
    df["ap"] = df[cols].sum(axis=1)
    df["ap"] = df["ap"] /k
    return df

In [33]:
def mapK(preds,candidate, cols,k):
    # Returns MAP @ K score
    df = convert_recs_to_list(preds, candidate, cols)
    df = apk(df, k)
    total = df["ap"].sum()
    return total/df.shape[0], df

In [35]:
mapk3, df = mapK(nn_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],3)
mapk3

0.20235042735042735

In [25]:
mapk5, df5 =mapK(nn_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],5)
mapk5

0.18325641025641023

In [26]:
mapk1, df1 = mapK(nn_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],1)
mapk1

0.25

In [27]:
print("NN 1",mapk1)
print("NN 3",mapk3)
print("NN 5",mapk5)

NN 1 0.25
NN 3 0.20235042735042735
NN 5 0.18325641025641023

In [28]:
sts_mapk3, df = mapK(sts_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],3)
sts_mapk5, df = mapK(sts_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],5)
sts_mapk1, df = mapK(sts_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],1)
print("STS 1",sts_mapk1)
print("STS 3",sts_mapk3)
print("STS 5",sts_mapk5)

STS 1 0.23725834797891038
STS 3 0.21568053114626048
STS 5 0.19995313415348565

In [29]:
nli_mapk3, df = mapK(nli_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],3)
nli_mapk5, df = mapK(nli_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],5)
nli_mapk1, df = mapK(nli_result, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],1)
print("NLI 1",nli_mapk1)
print("NLI 3",nli_mapk3)
print("NLI 3",nli_mapk5)

NLI 1 0.22300884955752212
NLI 3 0.2081612586037365
NLI 3 0.19296755162241888

In [30]:
sts_mapk3_news, df = mapK(sts_result_news, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],3)
sts_mapk5_news, df = mapK(sts_result_news, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],5)
sts_mapk1_news, df = mapK(sts_result_news, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],1)
print("STS News 1",sts_mapk1_news)
print("STS News 3",sts_mapk3_news)
print("STS News 5",sts_mapk5_news)

STS News 1 0.16981132075471697
STS News 3 0.16561844863731653
STS News 5 0.14257861635220126

In [31]:
nn_mapk3_news, df = mapK(nn_result_news, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],3)
nn_mapk5_news, df = mapK(nn_result_news, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],5)
nn_mapk1_news, df = mapK(nn_result_news, can, ["pred_1", "pred_2","pred_3","pred_4","pred_5"],1)
print("NN News 1",nn_mapk1_news)
print("NN News 3",nn_mapk3_news)
print("NN News 5",nn_mapk5_news)

NN News 1 0.14634146341463414
NN News 3 0.12059620596205961
NN News 5 0.1189430894308943